.main-bg {
    background-color: #111827;
}
.top {
    color: #e3b621;
    text-align: center;
    font-family: 'Brush Script MT', 'Franklin Gothic Medium', sans-serif;
}
.recipes-list {
    font-size: 32px;
    font-weight: 700;
}
/*recipes*/
.food-img {
    width: 600px;
    height: 500px;
}
.spin-art {
    color: rgb(11, 95, 11);
}
.spin-art-bg {
    background-color: rgba(11, 95, 11, 0.40);
}
.buff {
    color: rgb(218, 123, 0);
}
.buff-bg {
    background-color: rgb(218, 123, 0, 0.40);
}
.cfbrown {
    color: rgb(75, 43, 17);
}
.cfbrown-bg {
    background-color: rgb(75, 43, 17, 0.40);
}
.hot {
    color: #8b1300;
    font-style: italic;
}
/*other*/
.return-button {
    background-color: #e3b621;
    color: #111827;
}
.right {
    text-align: right;
}
/* unused 
... {

} */